html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    scrollbar-color: transparent;
  }
  

body {
  background-color: #000000;
  color: #fdebeb;
}
.body-lock {
  overflow: hidden;
  touch-action: none;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  max-width: 100%;
  scroll-snap-align: center;
}
.gallery-container {
  display: block;
}
.projects-section {
  display: none; 
}